@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  background-color: rgba(214, 214, 214, 1);
}

/* .container {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
} */

.leftdiv {
  width: 550px;
  height: 570px;
  /* margin-top: 286px; */
  /* margin-left: 118px; */
  padding: 30px 106px 89px 70px;
  gap: 32px;
  border-radius: 10px 0px 0px 10px;
  background: rgba(32, 32, 32, 1);
  box-shadow: 2px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.rightdiv {
  width: 415px;
  height: 570px;
  /* margin-top: 286px; */
  /* margin-left: 794px; */
  gap: 0px;
  border-radius: 0px 10px 10px 0px;
  opacity: 0px;
  background: rgba(32, 32, 32, 1);
  box-shadow: 2px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.leftrightmaindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 0px; */
  width: 100%;
}

.resturantnamediv {
  width: 100%;
  height: 80px;
  /* background-color: red; */
}
.namelabel {
  width: 100%;
  height: 29px;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 32.68px;
  letter-spacing: 0.05em;
  text-align: left;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}
.nameinput input {
  width: 100%;
  height: 51px;
  border-radius: 6px;
  background-color: transparent;
  padding-left: 30px;
  color: white;
  border: 2px solid rgba(198, 198, 198, 0.5);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 32.68px;
  letter-spacing: 0.05em;
  text-align: left;
}

.pickupaddressdiv {
  width: 100%;
  margin-top: 30px;
}
.addresslabel {
  width: 100%;
  height: 29px;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 32.68px;
  letter-spacing: 0.05em;
  text-align: left;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}
.edit {
  position: relative;
  top: -40px;
  left: 90%;
  color: rgba(250, 74, 12, 1);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  /* line-height: 32.68px; */
  letter-spacing: 0.05em;
  text-align: left;
}
.inputaddress input {
  width: 100%;
  height: 51px;
  border-radius: 6px;
  background-color: transparent;
  padding-left: 30px;
  color: white;
  border: 2px solid rgba(198, 198, 198, 0.5);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 32.68px;
  letter-spacing: 0.05em;
  text-align: left;
}
.emaildiv {
  width: 100%;
  margin-top: 0px;
}
.emaillabel {
  width: 100%;
  height: 29px;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 32.68px;
  letter-spacing: 0.05em;
  text-align: left;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}
.emailinput input {
  width: 100%;
  height: 51px;
  border-radius: 6px;
  background-color: transparent;
  padding-left: 30px;
  color: white;
  border: 2px solid rgba(198, 198, 198, 0.5);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 32.68px;
  letter-spacing: 0.05em;
  text-align: left;
}
.phonediv {
  width: 100%;
  margin-top: 30px;
}
.phonelabel {
  width: 100%;
  height: 29px;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 32.68px;
  letter-spacing: 0.05em;
  text-align: left;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}
.phoneinput input {
  width: 100%;
  height: 51px;
  border-radius: 6px;
  background-color: transparent;
  padding-left: 30px;
  color: white;
  border: 2px solid rgba(198, 198, 198, 0.5);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 32.68px;
  letter-spacing: 0.05em;
  text-align: left;
}

.workingdays {
  width: 100%;
  height: 34px;
  margin-top: 12px;
  /* margin-left: 29px; */
  padding: 0px 9px 0px 0px;
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 300;
  line-height: 43.58px;
  letter-spacing: 0.09em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
}
.alldays {
  width: 80%;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid rgba(198, 198, 198, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weekdaysname {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 10px; /* Space between grid items */
  width: 100%;
}

.day {
  display: flex;
  align-items: center;
  gap: 15px;
  /* padding: 5px;
  border-radius: 3px; */
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 300;
  line-height: 43.58px;
  letter-spacing: 0.09em;
  text-align: left;
  color: rgba(255, 255, 255, 1);

  background-color: transparent;
}
.day input[type="checkbox"] {
  /* Hide the default checkbox */
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1); /* Default background color */
  cursor: pointer;
}

.day input[type="checkbox"]:checked {
  background-color: rgba(250, 74, 12, 1);
}
.day input[type="checkbox"]:checked::before {
  content: "✓";
  display: flex;
  /* justify-content: center;
  align-items: center; */
  font-size: 10px;
  margin-top: -15px;
  margin-left: 3px;
  color: white;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button button {
  padding: 5px 12px;
  font-size: 14px;
  border: none;
  background-color: rgba(250, 74, 12, 1);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Full width for alignment */
  font-family: Open Sans;
  font-size: 16.92px;
  font-weight: 300;
  text-align: center;
}

.openingtime {
  margin-top: 50px;
  width: 80%;
}
.openingtimelabel {
  width: 100%;
  height: 29px;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 32.68px;
  letter-spacing: 0.05em;
  text-align: left;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}
.timeDropdown {
  width: 100%;
  height: 51px;
  border-radius: 6px;
  background-color: transparent;
  padding-left: 30px;
  color: white;
  border: 2px solid rgba(198, 198, 198, 0.5);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  /* line-height: 32.68px; */
  letter-spacing: 0.05em;
  /* text-align: left; */
}
.timeDropdown:focus {
  outline: none;
  box-shadow: none;
}
.timeDropdown option {
  background-color: rgba(32, 32, 32, 1);
  color: white;
}
.timeDropdown {
  max-height: 100px;
  overflow-y: auto;
}

.closingtime {
  margin-top: 30px;
  width: 80%;
}

.closingtimelabel {
  width: 100%;
  height: 29px;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 32.68px;
  letter-spacing: 0.05em;
  text-align: left;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}

.buttons {
  display: flex;
  width: 100%;
  margin-top: 40px;
}
.buttoncancel {
  width: 180px;
  height: 44px;
  margin-left: 55%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(32, 32, 32, 1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 43.58px;
  letter-spacing: 0.05em;
}
.buttoncontinue {
  width: 180px;
  height: 44px;
  margin-left: 4%;
  background: rgba(250, 74, 12, 1);
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 43.58px;
  letter-spacing: 0.05em;
}

.buttons {
  display: flex;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 50px;
}
.buttoncancel {
  width: 180px;
  height: 44px;
  margin-left: 55%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(32, 32, 32, 1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 43.58px;
  letter-spacing: 0.05em;
}
.buttoncontinue {
  width: 180px;
  height: 44px;
  margin-left: 4%;
  background: rgba(250, 74, 12, 1);
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 43.58px;
  letter-spacing: 0.05em;
}
